<h2>Create Person</h2>
firstName: <input #firstName type="text">
patternLastName: <input #patternLastName type="text">
matternLasttName: <input #matternLasttName type="text">
address: <input #address type="text">
phoneNumber: <input #phoneNumber type="text">

<button (click)="createPerson(
  firstName.value, 
  patternLastName.value, 
  matternLasttName.value, 
  address.value, 
  phoneNumber.value
  )">Register</button>

<h1>Person Table</h1>
<ul>
    <li *ngFor="let person of persons | async">
      {{person.firstName}}, {{person.patternLastName}}
      <!-- button (click)="reviewPerson()"></button --->
      <button (click)="updatePerson(
        person._id,
        firstName.value,
        patternLastName.value,
        matternLasttName.value,
        address.value,
        phoneNumber.value
        )">Update</button>

      <button (click)="deletePerson(person._id)">Delete</button>
    </li>
</ul>